@model int

@{
    ViewBag.Title = "addMP";
    Layout = "~/Views/MPTest/Layout_.cshtml";
}

<h2>addMP</h2>

@using (Html.BeginForm("addNewTrigger"))
{
    <input type="text" name="MPName" placeholder="Marketing programm name" />
    <input type="button" value="Продолжить" />
}