@{
    Layout = null;
}

<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
<script src="~/Scripts/jquery-2.1.4.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/bootstrap.js"></script>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Создания тестового сценария</title>
</head>
<body>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <center>
                @RenderBody()
            </center>
        </div>
        <div class="col-md-4"></div>
    </div>
</body>
</html>
