@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/landPage.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Cloud marketing</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Облачная автоматизация маркетинга для среднего и малого бизнеса <small>Осталось 5 месяцев до запуска!</small></h1>
        <hr />
@RenderBody();
    </div>
    <div class="Lfooter">
        <hr />
        <h4>SaaS 4 Us</h4>
    </div>
</body>
</html>
