body {
    background-image: url(/Content/img/background.jpg);
    background-size: cover;
}
.landingContainer{
    margin-top:50%;
}
.Lfooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    text-align: center;
}
